#import("huge",igraph)
importFrom(gplots, greenred)
importFrom(gtools, invalid)
importFrom(PMA, SPC)
importFrom(elasticnet, spca)
importFrom(pcaPP, cor.fk)
importFrom(Matrix, Matrix)
importFrom(igraph, graph.adjacency, layout.fruchterman.reingold)
export(gnsc.train, 
    gnsc.cv, 
    TCA, 
	TCE,

	print.gnsc,plot.gnsc,
	print.gnsccv,plot.gnsccv,
	print.TCA,plot.TCA,
	print.TCE,plot.TCE
)

S3method("print","gnsc")
S3method("plot","gnsc")
S3method("print","gnsccv")
S3method("plot","gnsccv")
S3method("print","TCA")
S3method("plot","TCA")
S3method("print","TCE")
S3method("plot","TCE")
